@font-face {
    font-family: 'akiraEx';
    src: url(fonts/akira_expanded/AkiraExpandedDemo.ttf);
}

body {
    font-family: 'akiraEx', sans-serif !important;
    background-color: #171010 !important;
    box-sizing: border-box;
}

li a {
    color: #423F3E;
}

div > a {
    color: rgba(203, 199, 199, 0.819);
}

p a {
    color: rgba(203, 199, 199, 0.819);
}

p {
    color: #423F3E;
}

nav {
    position: fixed;
}

.navbarStyle {
    background-color: #423F3E;
}

.heroAndCarousel {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.heroAndCarousel > * {
    flex: 1 1 50%;
    padding-inline: 5%;
    padding-block: 3%;
    align-self: center;
}

.hero {
    position: relative;
    inline-size: 50%;
    block-size: 100dvh;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    font-size: 1.5ch;
    flex-wrap: nowrap;
}

#carouselFade .carousel-item img{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.footerText {
    display: flex;
    justify-content: center;
    opacity: 0.1;
    color: rgba(203, 199, 199, 0.819);
}