@font-face {
    font-family: 'akiraEx';
    src: url(fonts/akira_expanded/AkiraExpandedDemo.ttf);
}

body {
    font-family: 'akiraEx', sans-serif !important;
    background-color: #171010 !important;
    box-sizing: border-box;
}

li a {
    color: #423F3E;
}

div > a {
    color: rgba(203, 199, 199, 0.819);
}

p a {
    color: rgba(203, 199, 199, 0.819);
}

p {
    color: #423F3E;
}

canvas {
    position: absolute;
}

nav {
    position: fixed;
}

.navbarStyle {
    background-color: #423F3E;
}

.hero {
    display: grid;
    align-items: center;
    justify-content: start;
    height: 100vh;
    grid-template-columns: repeat(autofill, minmax(min-content, 1fr));
    grid-template-rows: repeat(autofill, minmax(min-content, 1fr));
    font-size: 2rem;
}

.one, .two, .three {
    justify-self: start;
    padding-left: 5%;
}

.four {
    justify-self: start;
}

.footerText {
    display: flex;
    justify-content: center;
    opacity: 0.1;
    color: rgba(203, 199, 199, 0.819);
}