@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@800&display=swap');

body {
    background-image: url("https://source.unsplash.com/Z2EgLCJob40");
			background-size: cover;
            background-repeat: no-repeat;
			background-attachment: scroll;
            background-position: 50% 70%;
    font-family: 'Unbounded', cursive !important;
    color: white !important;
}

a {
    color: white !important;
}

li > a {
    color: black !important;
}

canvas {
    position: absolute;
}

.hero {
    display: grid;
    align-items: center;
    justify-content: start;
    height: 100vh;
    grid-template-columns: repeat(autofill, minmax(min-content, 1fr));
    grid-template-rows: repeat(autofill, minmax(min-content, 1fr));
    font-size: 2rem;
}

.dropdownStyles {
    padding-right: 1%;
}

.one {
    justify-self: start;
    padding-left: 5%;
}

.two {
    justify-self: start;
    padding-left: 5%;
}

.three {
    justify-self: start;
    padding-left: 5%;
}

.four {
    justify-self: start;
}

.footerText {
    display: flex;
    justify-content: center;
    opacity: 0.2;
}